:root {
  --yellowShade: #ffd700;
  --blackShade: #002865;
  --whiteShade: #f8f9fa;
  --pureBlack: #000;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: transparent;
  color: black;
  text-shadow: 2px gold;
}
.container {
  width: max-content;
}
h1 {
  color: gold;
  font-size: 4rem;
  font-weight: 100;
  justify-content: center;
  position: relative;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}
